<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
    <main class="new-product-main" id="main">
      <div id="errors" class="errors-box">
        <ul class="errors-list" id="errors-list"></ul>
      </div>
      <div class="new-product-box" >
        <h3>Agregar nuevo producto</h3>
        <div class="new-product-form-box">
        <form method="post" action="/products/new" enctype="multipart/form-data" class="new-product-form" id="form">
          <div class="new-product-div">
            <label for="name" class="new-product-label">Nombre: </label>
            <input type="text" name="name" id="name" 
            placeholder="Ingrese nombre del producto"
            value="<%= locals.oldData ? oldData.name : null %>"/>

            <% if (locals.errors && errors.name){%>
              <div class="login-validation-error">
                  <%= errors.name.msg%>
              </div>
          <%}%>
          </div>
          

          <div class="new-product-div">
            <label for="new-img" class="new-product-label">Imagen: </label>
            <input type="file" name="new-img" id="new-img" />
          </div>
          <div class="new-product-div">
            <label for="description" class="new-product-label">Descripcion: </label>
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="10"
              placeholder="Contenido de la descripcion del producto"
              value="<%= locals.oldData ? oldData.description : 'Pon aqui la descipcion del producto' %>"
            >
            </textarea>
            <% if (locals.errors && errors.description){%>
              <div class="login-validation-error">
                  <%= errors.description.msg%>
              </div>
          <%}%>
            </div>
          
          <div class="new-product-div">
          <label for="category" class="new-product-label">Categoría: </label>
          <select name="category" id="category">
            <% for (let i=0 ; i<categories.length ; i++) {%>
            <option value="<%=categories[i].id%>"><%= categories[i].name %></option>
            <%}%>
          </select>
          <% if (locals.errors && errors.category){%>
            <div class="login-validation-error">
                <%= errors.category.msg%>
            </div>
        <%}%>
          </div>
          <div class="new-product-div">
            <label for="mark" class="new-product-label">Marca: </label>
            <select name="mark" id="mark">
              <% for (let i=0 ; i<marks.length ; i++) {%>
              <option value="<%=marks[i].id%>"><%= marks[i].name %></option>
              <%}%>
            </select>
            <% if (locals.errors && errors.category){%>
              <div class="login-validation-error">
                  <%= errors.mark.msg%>
              </div>
          <%}%>
            </div>
          <div class="new-product-div">
            <label for="cost" class="new-product-label">Costo: </label>
            <input type="number" step="any" name="cost" id="cost" placeholder="Ingrese costo del producto" 
            value="<%= locals.oldData ? oldData.cost : null %>"/>
            <% if (locals.errors && errors.cost){%>
              <div class="login-validation-error">
                  <%= errors.cost.msg%>
              </div>
            <%}%>
          </div>
          
          <div class="new-product-div">
            <label for="value" class="new-product-label">Precio: </label>
            <input type="number" step="any" name="value" id="value" placeholder="Ingrese precio del producto" 
            value="<%= locals.oldData ? oldData.value : null %>"/>
            <% if (locals.errors && errors.value){%>
              <div class="login-validation-error">
                  <%= errors.value.msg%>
              </div>
            <%}%>
            </div>
            <div class="new-product-div">
              <label for="stock" class="new-product-label">Stock: </label>
              <input type="number" step="any" name="stock" id="stock" placeholder="Ingrese stock del producto" 
              value="<%= locals.oldData ? oldData.stock : null %>"/>
              <% if (locals.errors && errors.stock){%>
                <div class="login-validation-error">
                    <%= errors.stock.msg%>
                </div>
              <%}%>
              </div>
            <div class="new-product-div">
              <label for="name" class="new-product-label">Codigo: </label>
              <input type="text" name="code" id="code" 
              placeholder="Ingrese codigo del producto"
              value="<%= locals.oldData ? oldData.code : null %>"/>
  
              <% if (locals.errors && errors.code){%>
                <div class="login-validation-error">
                    <%= errors.code.msg%>
                </div>
            <%}%>
            </div>   
            
            <div class="new-product-div-button">
          <button id="add-product-button" type="submit" class="new-product-button" ><i class="fa-solid fa-plus"></i> Agregar Producto</button>
        </div>
      </form>
      </div>
      </div>
     
    </main>
    <%- include('../partials/footer')%>
    <script  src="/js/productValidator.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
